<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.btn{
			width:100%;
		}

		.contains {
			margin: auto;
			width: 50%;
			border: 3px solid lightgray;
			padding: 10px;
			margin-top:20px;
			
		}
	</style>
</head>
<body>


<%if(currentUser) {%>
<p>logged in as <%=currentUser.username%></p>
<%}%>

<%if(success){%>
<%=success%>
<%}%>

<%if(error) {%>
<%=error%>
<%}%>