<%include ./partials/myheader%>

<form action="/products/addphotos/<%=name%>" method="post">
<%=name%>
<br>
Photo URL...
<br>
<input class="btn btn-default" type="text" name="photo">
<br>
<input type="submit" value="submit">

</form>


<%include ./partials/footer%>