<%include ./partials/myheader%>


<form action="" method="post">
total due : <%=sum%>
<br>
<button class="btn btn-default">Pay with card</button>
</form>
 



<%include ./partials/footer%>